app "homelab" {
    about "Homelab VM dashboard"
    watch true

    inventory "~/Code/gruel.network/ansible/inventory.yml"

    per-connection {
        use "vm-health"
        collect "docker:containers" as="container.status" into="vm-health" interval=10
    }
}
